XneloUtils/bin
XneloUtils/obj

XneloUtils.Test/bin
XneloUtils.Test/obj

XneloUtils.Desktop/bin
XneloUtils.Desktop/obj

XneloUtils.Bootstrap.Autofac/bin
XneloUtils.Bootstrap.Autofac/obj

XneloUtils.Bootstrap.Interface/bin
XneloUtils.Bootstrap.Interface/obj

XneloUtils.Desktop.Interface/bin
XneloUtils.Desktop.Interface/obj