XneloUtils.Net/bin
XneloUtils.Net/obj
XneloUtils.Net.Test/bin
XneloUtils.Net.Test/obj

XneloUtils.Desktop.Net/bin
XneloUtils.Desktop.Net/obj

XneloUtils.Desktop.Bootstrap.Autofac.Net/bin
XneloUtils.Desktop.Bootstrap.Autofac.Net/obj
